.crud {
  display: flex;
  gap: 50px;
  margin: 20px 10px;
}
.crud p {
  color: var(--Black, #232134);
  font-feature-settings: "clig" off, "liga" off;

  /* Title S/Bold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
p {
  font-size: 15px;
}

.formInput {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.formInput button {
  display: flex;
  height: 40px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: rgb(32, 16, 175);
}
