.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #eaebed;
  width: 448px;
  h2 {
    color: #5e96fc;
    /* Title S/Semibold */
    font: 600 20px "Inter";
}
p {
    color: var(--Black, #232134);
    font: 400 16px "Inter";
    line-height: 20px; /* 125% */
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inputHeader {
  color: var(--Grey-500, #acadb9);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid var(--Grey-200, #eaebed);
  background: var(--grey-scale-white, #fff);
  width: 950px;
  padding: 12px;
  outline: none;
}

.btnHeader {
  position: absolute;
  left: 81%;
  top: 5px;
  height: 32px;
  padding: 4px 20px;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font: 500 14px "Inter";
  border-width: 0;
  border-radius: 8px;
  background: var(--Blue-Main-500, #5e96fc);
}
.btnHeader:hover{
  cursor: pointer;
}
